:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}
.inicio {
  text-align: center;
}

.h1 {
  font-size: 28px;
}

.p {
  font-size: 18px;
  margin: 20px 0;
}

.estrellas {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card1 {
  width: 300px;
  padding: 20px;
  background-color: #5767aa;
}
.card {
  width: 350px;
  padding: 20px;
  background-color: var(--mainColorLight);
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: 10px;
  opacity: 0;
  animation-name: fade-in-card;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-in-card {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.card-image {
  width: 260px;
  height: 190px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-image img {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-image p {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}
