.contenedor {
  display: flex;
  justify-content: center;
}

.carta {
  width: 200px;
  height: 300px;
  margin: 10px;
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.carta:hover {
  transform: scale(1.1);
}

.contenido {
  width: 90%;
  height: 90%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carta h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.editable {
  min-height: 40px;
  outline: none;
  border: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: pre-wrap;
  word-break: break-word;
  
}
