.contenedor {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.carta {
  width: 240px;
  height: 300px;
  margin: 25px;
  margin-bottom: 12% ;
  background-color: #5767aa;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.carta:hover {
  transform: scale(1.1);
  background-color: #29335c;
}

.contenido {
  width: 90%;
  height: 90%;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #eee;
}

.h3 {
  font-size: 20px;
  margin-top: -4rem;
}

.editable {
  color: black;
  font-size: 15px;
  margin-top: 15%;
  text-align: center;
}
