.contenedor {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

.carta {
  width: 240px;
  height: 300px;
  margin: 3rem;
  background-color: var(--mainColorLight);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.carta:hover {
  transform: scale(1.1);
  background-color: var(--mainColor);
}
.h3:hover {
  color: var(--secondaryColor);
}

.contenido {
  width: 90%;
  height: 90%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.h3 {
  font-size: 20px;
  margin-bottom: 2%;
  color: var(--textColor);
}

.editable {
  color: black;
  min-height: 40px;
  outline: none;
  border: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: pre-wrap;
  word-break: break-word;
}
